.historicButton{
    background-color: rgb(42, 39, 39);
    color: rgb(114, 114, 255);
    font-size: 20px;
    font-weight: 900;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    border: 2px solid rgb(114, 114, 255);
    margin: 10px;
}